// Shadows
.shadow-large {
    box-shadow: 0 1px 15px rgba(27, 31, 35, 0.15) !important;
}
.shadow-small {
    box-shadow: 0 2px 4px rgba(27, 31, 35, 0.15) !important;
}

// SHADOWS LEVELS
.shadow-1 {
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
}
.shadow-2 {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;
}
.shadow-3 {
    -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}
.shadow-4 {
    -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}
.shadow-5,
.v-menu__content {
    -webkit-box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
}
.shadow-6,
.v-dialog {
    -webkit-box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25) !important;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25) !important;
}

// Border Radius
.v-card:not(.v-sheet--tile):not(.v-card--shaped),
.v-sheet,
.v-menu__content {
    border-radius: 15px !important;
}
.rounded-small {
    border-radius: 10px !important;
}
.round,
.v-dialog {
    border-radius: 20px !important;
}

// Shadow inset (For table expanded)
.v-data-table tbody tr.v-data-table__expanded__content {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) inset !important;
}

// Ocultar cinta de Recatcha v3
.grecaptcha-badge {
    visibility: hidden;
}

// dark mode on chart
.apexcharts-canvas.apexcharts-theme-dark {
    background: transparent !important;
}


