#login {
    // background-color: #6d71f9;
    background-image: url(./assets/illustrations/bg_lines.svg);
    background-position: center;
    background-size: cover;

    // #login-card {
    //     background-image: url(./assets/bg_login_card.svg);
    //     background-position: center bottom -4%;
    //     background-size: contain;
    //     border-radius: 25px !important;
    // }
}
