$topBarHeight: 4em;

$imageHeight: 420px;
$imageWidth: 420px;
$smallImgWidth: 80px;
$smallImgHeight: 80px;
$relatedProductImgWidth: 250px;
$relatedProductImgHeight: 250px;

$maxComponentWidth: 80%;

$footerWidth: 1100px;