/* Seccion Home */
/* Carrusel */
.title-carrusel {
    font-size: 3vmax;
}

.price-carrusel {
    font-size: 3vmax;
}

.space-price-null {
    margin-top   : 15px;
    margin-bottom: 15px;
}

.button-carrusel {
    /* El color de fondo lo agarra por una propiedad del framework */
    background-color: #00A0E9;
}

.share_carrusel {
    margin-top : 4px;
    margin-left: 4px;
}

.features-carrusel {
    margin-bottom: 0;
}

/* Categorias Home */
.title-categories-home {
    /* Etiqueta H2 */
    margin-top : 5px;
    margin-left: 15px;
    color      : white;
    font-size  : 1.5em;
}

/* Destacados Home */
.featured-title-home {
    font-size  : 2em;
    font-weight: 300;
}

.featured-subtitle-home {
    font-size  : 1.1em;
    font-weight: 400;
}

.featured-title-product-home {
    font-weight: 600;
    font-size  : 1.3em;
    cursor     : pointer;
}

.featured-product-price {
    font-weight: 600;
    font-size  : 1.3em;
}

/* COMPONENTE SUSCRIBIRSE */
.suscribe-title {
    color      : #262626;
    font-size  : 1.6em;
    font-weight: 400;
}

.suscribe-description {
    margin-bottom: 0;
}

.suscribe-text-field {
    width                    : 230px;
    border-color             : #c9cdd9;
    border-radius            : 0px;
    border-top-left-radius   : 20px;
    border-bottom-left-radius: 20px;
}