// // CONFIGURATION
@import "core/variables";
@import "core/typography";

// // CORE (LAYOUT)
// @import "core/general";
// @import "core/sidebar";

// //COMPONENTS
// @import "components/alerts";

// // VIEWS
// @import "views/login";
